<div class="page_content_wrapper">
  <h4 class="page_title text-center my-5">{{ page.title }}</h4>
  <div class="page_content_wrapper">
    <span>{{ page.content }}</span>
  </div>
</div>

{% schema %}
{
  "name": "Page Template",
  "settings": []
}
{% endschema %}
