.carousel-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
}

/*****************globals*************/
body {
  font-family: "open sans";
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 20px;
  }
}

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%;
}

.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block;
}

.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0;
}

.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0;
}

.tab-content {
  overflow: hidden;
}

.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em;
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.product-title,
.price,
.sizes,
.colors {
  text-transform: UPPERCASE;
  font-weight: bold;
}

.checked,
.price span {
  color: #ff9f1a;
}

.product-title,
.rating,
.product-description,
.price,
.vote,
.sizes {
  margin-bottom: 15px;
}

.product-title {
  margin-top: 0;
}

.size {
  margin-right: 10px;
}

.size:first-of-type {
  margin-left: 40px;
}

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px;
}

.color:first-of-type {
  margin-left: 20px;
}

.add-to-cart,
.like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.add-to-cart:hover,
.like:hover {
  background: #b36800;
  color: #fff;
}

.not-available {
  text-align: center;
  line-height: 2em;
}

.not-available:before {
  font-family: fontawesome;
  content: "\f00d";
  color: #fff;
}

.orange {
  background: #ff9f1a;
}

.green {
  background: #85ad00;
}

.blue {
  background: #0076ad;
}

.tooltip-inner {
  padding: 1.3em;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
.content_alignment {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.featured_heading {
  margin-top: 25px;
}

.form-control {
  display: block;
  width: 100%;
  min-height: calc(1.5em + 0.75rem + 2px);
  padding: 0.575rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 52px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.card {
  padding: 20px;
  background-color: #eee;
  padding-bottom: 50px;
  padding-top: 50px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #f9a826;
  outline: 0;
  box-shadow: none;
}

.border-rad {
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;

  color: #fff;
  background-color: #f9a826;
  border-color: #f9a826;
}

.border-rad:hover {
  background-color: #f9a826;
  border-color: #f9a826;
}

.main_price {
  position: relative;
}

.main_price:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #717171;
  left: 0;
  bottom: 13px;
}

a.clear_btn {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  background: grey;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
  color: white;
}

form.filter_option_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
}

details.filter_option {
  border: 1px solid darkgrey;
  padding: 5px 10px;
}

.apply_btn {
  width: 100%;
}

.collection_template_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.variation_wrapper {
  display: flex;
  gap: 25px;
  list-style: none;
  padding-left: 0 !important;
  padding-top: 15px;
}

.variaiton_name {
  border: 1px solid black;
  height: 47px;
  width: 44px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.variaiton_name:hover {
  background: grey;
  border: none;
  color: white;
}

.active_variaiton {
  background-color: black;
  color: white;
}

label.radio {
  border: 1px solid black;
  padding: 5px 7px;
  cursor: pointer;
}

.option {
  display: flex;
  gap: 10px;
  margin-bottom: 47px;
}

.order-note {
  resize: none;
  height: 100px;
  width: 350px;
  padding: 10px 25px;
}

textarea {
  resize: none;
}

.search_heading_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  justify-content: center;
}

img.footer_img {
  width: 100%;
}

/* .add_to_cart,
.buy_now {
  border: none !important;
  padding: 8px 20px;
  background-color: black;
  color: #eee;
} */
.navbar {
  padding-top: unset;
  padding-bottom: unset;
  padding: 20px 0px;
}